:root {
  --el-color-primary: #3b82f6; /* blue-500 */
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 隐藏 el-upload 默认的焦点边框 */
.el-upload:focus {
  outline: none;
}
